#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.colours {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #ccc; */
  margin-top: 40px;
  /* border: solid 1px #ccc; */
  max-width: 1200px;
  width: 85vw;
}

.colourDiv {
  width: 20%;
  height: 500px;
}

.hexes {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
}

.hexDiv {
  width: 20%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
