#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.colours {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  /* border: solid 1px #ccc; */
  max-width: 960px;
  width: 85vw;
}

.colourDiv,
.hexDiv {
  width: 100%;
}

.colourDiv {
  height: 60vh;
}

.hexDiv {
  font-size: 0.75rem;
  background-color: #1f2937;
  height: 60px;
  display: grid;
  place-items: center;
}

form {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 16px;
  /* margin-bottom: 40px; */
  /* border: #d1d5db 1px solid; */
}

.picker-input {
  flex-grow: 0;
  flex-basis: 60px;
  align-self: center;
  height: 60px;
}

select {
  color: white;
  background-color: #3d4b60;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  border-radius: 0.375rem;
  border: 1px solid var(--gray-300, #d1d5db);
  background: #1f293a;
  padding: 0.75rem 1rem;
  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 3;
  flex-basis: 200px;
}

.btn-get-colours {
  font-family: Inter;
  background: #1f293a;
  display: inline-flex;
  padding: 1rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  border: 1px solid var(--gray-300, #d1d5db);
  color: white;
  flex-grow: 1;
  flex-basis: 80px;
  /* box-shadow: 0 0.75rem 0.5rem -0.5rem hsl(0 50% 80%); */
}

select option {
  background-color: #3d4b60;
}

.spacer {
  /* border: 1px solid #d1d5db; */
  /* center vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 1s linear infinite;
}
